*{
    box-sizing: border-box;
}
#quote{
    font-size: 2rem;
    font-weight: 600;
    color: #333;
}

#quote::before{
    content: "“";
}
#quote::after{
    content: "”";
}

#quoteOwner{
    font-size: 1.2rem;
    font-style: italic;
    
}

#quoteOwner::before{
    content: "― ";
}

u{
    text-underline-offset: 3px;
}

.container{
    min-height: 93vh;
}

.quote-area{
    min-height: 86%;
}